@import 'tailwindcss';

:root {
  /* 웹페이지 전체에 적용될 기본 글꼴 목록 */
  font-family:
    -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  /* 기본 줄 간격 */
  line-height: 1.5;
  /* 기본 글자 두께 */
  font-weight: 400;
  background-color: #0259dd;
}

@theme {
  --color-blue-primary: #0259dd;
  --color-blue-light-1: #4084e8;
  --color-blue-light-2: #84affb;
  --color-blue-light-3: #cfe7ff;
  --color-blue-light-4: #dae6ff;

  --color-red: #f24539;
  --color-red-light-1: #fd685e;

  --color-pink: #ff4ed0;
  --color-green: #2ed9bf;
}
